/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 12px;
  margin-bottom: 20px;
}

.project-skills-list {
  display: flex;
  gap: 12px;
}

.project-bottom-item {
  background-color: var(--surface-container);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: var(--radius-small);
  --state-layer-bg: var(--on-surface-variant);
  justify-content: center;
}
