/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 12px;
  margin-bottom: 20px;
}

.project-skills-list {
  display: flex;
  gap: 12px;
}
