/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact-tab {
  padding-block-end: 0;
}

.contact-tab .container {
  padding-block-end: 24px;
}

.contact-info,
.contact-info-list {
  display: grid;
  gap: 12px;
}

.contact-info {
  margin-block-end: 24px;
}

.contact-info-list {
  padding-block-end: 12px;
  border-block-end: 1px solid var(--outline-variant);
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-info .icon-box {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  counter-reset: var(--on-surface-variant);
}

.contact-message {
  text-align: center;
}

.info-content {
  display: grid;
  gap: 4px;
}

.info-title {
  color: var(--on-surface-variant);
  opacity: 0.6;
}

.info-text {
  color: var(--on-surface-variant);
}

.social-list {
  display: flex;
  gap: 12px;
}

.social-item {
  padding: 12px;
}

.input-wrapper {
  margin-block-start: 16px;
  display: grid;
  gap: 10px;
}
