/*-----------------------------------*\
  #ABOUT CARD
\*-----------------------------------*/

.about-card {
  background-color: var(--surface-container-low);
  color: var(--on-surface-variant);
  margin-inline: 16px;
  padding: 16px;
  margin-block-start: 24px;
  border-radius: var(--radius-large);
}

.about-card .card-title {
  color: var(--on-surface);
}

.about-card .card-text {
  margin-block: 12px;
  padding-block: 12px;
  border-block: 1px solid var(--outline-variant);
}

.about-list {
  display: grid;
  gap: 12px;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
